@import url(./partials/global.css);
@import url(./partials/lists.css);
@import url(./partials/cards.css);
@import url(./partials/sidebar.css);
@import url(./partials/context-menu.css);
@import url(./partials/channel-list.css);
@import url(./partials/chat.css);


/* UI Menu Titles */
.ts-widget-section-header .title::before,
.ts-widget-section-header .title::after {
    display: none;
}

.ts-widget-section-header .title {
    padding-left: var(--tsv-padding-h-small);
    padding-right: var(--tsv-padding-h-small);
    font-size: 2rem;
    font-weight: 600;
}


/* activity group */
.tsv-activity-group-list .tsv-item-group::before {
    display: none;
}

/* mute/afk buttons */
.tsv-tool-buttons::before {
    display: none;
}