/* cards */
.ts-card {
    padding: 1rem;
}

.ts-card-caption {
    font-size: 1.5rem;
    font-weight: 500;
}

.ts-card-subtitle {
    margin-bottom: 1.5rem;
}

.ts-user-style .ts-user-style-cards .ts-user-style-card {
    background: var(--zinc-800);
}

.tsv-header:before {
    /* Some weird blue texture at the top bar */
    display: none;
}